In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns 
from sklearn.model_selection import train_test_split

In [2]:
data_dir="data/"

In [3]:
raw_data_file = data_dir + "raw/predictions_smm.txt"

In [4]:
raw_data = pd.read_csv(raw_data_file, sep="\t")

In [5]:
raw_data

,species,allele,length,cv,sequence,inequality,ic50,smm
0,chimpanzee,Patr A*0901,11,0,ACISSEATTPV,=,221.26100,53.8
1,chimpanzee,Patr A*0901,11,0,AQISSEATTPV,=,41.18890,53.8
2,chimpanzee,Patr A*0901,11,0,ARISSEATTPV,=,621.99800,53.8
3,chimpanzee,Patr A*0901,11,0,AYESSEATTPV,=,421.11700,166.0
4,chimpanzee,Patr A*0901,11,0,AYFSSEATTPV,=,54.91940,166.0
...,...,...,...,...,...,...,...,...
48823,mouse,H-2 Ld,9,4,SLSAYIIRV,>,77142.90000,42442.4
48824,mouse,H-2 Ld,9,4,SPTVWLSVI,=,27000.00000,5071.3
48825,mouse,H-2 Ld,9,4,SSYRRPVGI,>,77142.90000,1717830.0
48826,mouse,H-2 Ld,9,4,SYIPSAEKI,=,30816.10000,30928.6
48827,mouse,H-2 Ld,9,4,YPHYMPTNL,=,9.64286,60.8

In [6]:
# Group by human
human_data = raw_data[raw_data['species'].isin(['human'])]

In [7]:
alleles = list(human_data['allele'].unique())
len(alleles)

35

In [9]:
allele_to_take = 20
allele_no = 0
for allele in alleles:
    if allele_no <= 20:
        print(allele_no, allele)
        allele_data = human_data.loc[(human_data['allele'] == allele) &
                                     (human_data['ic50'] < 500) &
                                     (human_data['length'] == 9) ].sort_values(by='ic50', ascending=True)
        train, test = train_test_split(allele_data, test_size = 0.2)
        train = pd.DataFrame(train)
        test = pd.DataFrame(test)
        train.to_csv(data_dir + '/train/' + allele.replace('*','_').replace(' ','_')+'_train.csv', index=False)
        test.to_csv(data_dir + '/test/' + allele.replace('*','_').replace(' ','_')+'_test.csv', index=False)
    allele_no = allele_no +1

0 HLA A*0101
1 HLA A*0201
2 HLA A*0202
3 HLA A*0203
4 HLA A*0206
5 HLA A*0301
6 HLA A*1101
7 HLA A*2301
8 HLA A*2402
9 HLA A*2403
10 HLA A*2601
11 HLA A*2902
12 HLA A*3001
13 HLA A*3002
14 HLA A*3101
15 HLA A*3301
16 HLA A*6801
17 HLA A*6802
18 HLA A*6901
19 HLA B*0702
20 HLA B*0801